
@{
    ViewBag.Title = "Interaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tg-dashboardbanner">
    <h1>Offers/Messages</h1>
    <ol class="tg-breadcrumb">
        <li><a href="javascript:void(0);">Home</a></li>
        <li><a href="javascript:void(0);">Dashboard</a></li>
        <li class="tg-active">Offers/Messages</li>
    </ol>
</div>
<!--************************************
        Dashboard Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Section Start
    *************************************-->
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">
            <form class="tg-formtheme tg-formdashboard">
                <fieldset>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-dashboardbox">
                            <div class="tg-dashboardboxtitle">
                                <h2>Offers/Messages</h2>
                            </div>
                            <div class="tg-dashboardholder tg-offersmessages tg-offersmessageswithsearch">
                                <ul>
                                    <li>
                                        <fieldset>
                                            <input type="search" name="search" class="form-control" placeholder="Search Here">
                                            <i class="icon-magnifier"></i>
                                        </fieldset>
                                        <div class="tg-verticalscrollbar tg-dashboardscrollbar">
                                            <div class="tg-ad tg-dotnotification">
                                                <figure><img src="images/ads/thumbnail/img-01.jpg" alt="image description"></figure>
                                                <h3>Brand new lenovo laptop i5 for sale</h3>
                                            </div>
                                            <div class="tg-ad tg-dotnotification">
                                                <figure><img src="images/ads/thumbnail/img-02.jpg" alt="image description"></figure>
                                                <h3>Samsung galaxy s5 for sale</h3>
                                            </div>
                                            <div class="tg-ad tg-dotnotification">
                                                <figure><img src="images/ads/thumbnail/img-03.jpg" alt="image description"></figure>
                                                <h3>Honda civic for sale urgent</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-04.jpg" alt="image description"></figure>
                                                <h3>18 - 55 used macro lense for sale</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-05.jpg" alt="image description"></figure>
                                                <h3>Eye Catching Parrot for sale urgent</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-06.jpg" alt="image description"></figure>
                                                <h3>Xtreme core processor with cooling gel</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-07.jpg" alt="image description"></figure>
                                                <h3>Original ei phone magnet charger</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-01.jpg" alt="image description"></figure>
                                                <h3>Brand new lenovo laptop i5 for sale</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-02.jpg" alt="image description"></figure>
                                                <h3>Samsung galaxy s5 for sale</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-03.jpg" alt="image description"></figure>
                                                <h3>Honda civic for sale urgent</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-04.jpg" alt="image description"></figure>
                                                <h3>18 - 55 used macro lense for sale</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-05.jpg" alt="image description"></figure>
                                                <h3>Eye Catching Parrot for sale urgent</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-06.jpg" alt="image description"></figure>
                                                <h3>Xtreme core processor with cooling gel</h3>
                                            </div>
                                            <div class="tg-ad">
                                                <figure><img src="images/ads/thumbnail/img-07.jpg" alt="image description"></figure>
                                                <h3>Original ei phone magnet charger</h3>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tg-offerers tg-verticalscrollbar tg-dashboardscrollbar">
                                            <div class="tg-offerer tg-dotnotification">
                                                <figure><img src="images/author/img-08.jpg" alt="image description"></figure>
                                                <h3>Antoine Hibdon</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer tg-dotnotification">
                                                <figure><img src="images/author/img-09.jpg" alt="image description"></figure>
                                                <h3>Lissa Hier</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer tg-dotnotification">
                                                <figure><img src="images/author/img-10.jpg" alt="image description"></figure>
                                                <h3>Preston Kintner</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer tg-dotnotification">
                                                <figure><img src="images/author/img-11.jpg" alt="image description"></figure>
                                                <h3>Adolph Varley</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-12.jpg" alt="image description"></figure>
                                                <h3>Tosha Tinney</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-13.jpg" alt="image description"></figure>
                                                <h3>Lynwood Krob</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-14.jpg" alt="image description"></figure>
                                                <h3>Adan Toney</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-15.jpg" alt="image description"></figure>
                                                <h3>Susanne Foran</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-08.jpg" alt="image description"></figure>
                                                <h3>Antoine Hibdon</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-09.jpg" alt="image description"></figure>
                                                <h3>Lissa Hier</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-10.jpg" alt="image description"></figure>
                                                <h3>Preston Kintner</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-11.jpg" alt="image description"></figure>
                                                <h3>Adolph Varley</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-12.jpg" alt="image description"></figure>
                                                <h3>Tosha Tinney</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-13.jpg" alt="image description"></figure>
                                                <h3>Lynwood Krob</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-14.jpg" alt="image description"></figure>
                                                <h3>Adan Toney</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                            <div class="tg-offerer">
                                                <figure><img src="images/author/img-15.jpg" alt="image description"></figure>
                                                <h3>Susanne Foran</h3>
                                                <a class="tg-btndelete icon-trash" href="javascript:void(0);"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tg-chatarea">
                                            <div class="tg-messages tg-verticalscrollbar tg-dashboardscrollbar">
                                                <div class="tg-offerermessage">
                                                    <figure><img src="images/author/img-16.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <p>Consectetur adipisicing elit sei do eiusmod tempor incididunt labore et dolore.</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">January 12th, 2011</time>
                                                    </div>
                                                </div>
                                                <div class="tg-memessage tg-readmessage">
                                                    <figure><img src="images/author/img-17.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <p>Eiusmod tempor incididunt labore et dolore magna aliqiu enim ad minim veniam qiuisru exercitation ullamco laborisen nisi ut aliquip exea.</p>
                                                        <div class="clearfix"></div>
                                                        <p><a href="https://themeforest.net" target="_blank">https://themeforest.net</a></p>
                                                        <div class="clearfix"></div>
                                                        <p>It that ok?</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">Jun 28, 2017 09:30</time>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="tg-offerermessage">
                                                    <figure><img src="images/author/img-16.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <div class="clearfix"></div>
                                                        <p>Consectetur adipisicing elit sei do eiusmod tempor incididunt labore et dolore.</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">January 12th, 2011</time>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="tg-memessage tg-readmessage">
                                                    <figure><img src="images/author/img-17.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <div class="clearfix"></div>
                                                        <p>Eiusmod tempor incididunt labore et dolore magna aliqiu enim ad minim veniam qiuisru exercitation ullamco laborisen nisi ut aliquip exea.</p>
                                                        <div class="clearfix"></div>
                                                        <p><a href="https://themeforest.net" target="_blank">https://themeforest.net</a></p>
                                                        <div class="clearfix"></div>
                                                        <p>It that ok?</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">Jun 28, 2017 09:30</time>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tg-replaybox">
                                                <textarea class="form-control" name="reply" placeholder="Type Here &amp; Press Enter"></textarea>
                                                <div class="tg-iconbox">
                                                    <i class="icon-thumbs-up"></i>
                                                    <i class="icon-thumbs-down"></i>
                                                    <i class="icon-smile"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <!--************************************
            Section End
    *************************************-->
</main>
