
@{
    ViewBag.Title = "PartnerList";
    Layout = "~/Views/Shared/_Layout_AfterLogin.cshtml";
}

<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            About Us Start
    *************************************-->
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagehead">
                        <h1>Results for "All Itmes"</h1>
                        <p>1,97,263 Results on 7 June, 2017</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <form class="tg-formtheme tg-formnerrowsearch">
                            <div class="tg-sidebartitle"><h2>Narrow Your Search:</h2></div>
                            <fieldset>
                                <div id="tg-narrowsearchcollapse" class="tg-themecollapse tg-narrowsearchcollapse">
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Title/Keyword</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="form-group tg-inputwithicon">
                                            <i class="icon-magnifier"></i>
                                            <input type="search" name="search" class="form-control" placeholder="Search Title/Keyword">
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Category</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="form-group">
                                            <div class="tg-select">
                                                <select>
                                                    <option value="Select Category">Select Category</option>
                                                    <option value="Select Category">Select Category</option>
                                                    <option value="Select Category">Select Category</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Location</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="form-group tg-inputwithicon">
                                            <i class="fa fa-crosshairs"></i>
                                            <input type="text" name="location" class="form-control" placeholder="Location">
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Price Range</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="form-group">
                                            <input type="text" name="minprice" class="form-control" placeholder="Minimum Price ($)">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="maxprice" class="form-control" placeholder="Maximum Price ($)">
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Condition</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="tg-checkboxgroup">
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-brandnew" name="bycondition" value="Brand New" checked="">
                                                <label for="tg-brandnew">
                                                    <span>Brand New</span>
                                                    <span>120385</span>
                                                </label>
                                            </span>
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-almostlikenew" name="bycondition" value="Almost Like New">
                                                <label for="tg-almostlikenew">
                                                    <span>Almost Like New</span>
                                                    <span>86425</span>
                                                </label>
                                            </span>
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-gentlyuser" name="bycondition" value="Gently Used">
                                                <label for="tg-gentlyuser">
                                                    <span>Gently Used</span>
                                                    <span>42346</span>
                                                </label>
                                            </span>
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-heavilyused" name="bycondition" value="Heavily Used">
                                                <label for="tg-heavilyused">
                                                    <span>Heavily Used</span>
                                                    <span>7562</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Ads Type</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="tg-checkboxgroup">
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-featuredads" name="byadstype" value="Featured Ads" checked="">
                                                <label for="tg-featuredads">
                                                    <span>Featured Ads</span>
                                                    <span>987327</span>
                                                </label>
                                            </span>
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-regularads" name="byadstype" value="Regular Ads">
                                                <label for="tg-regularads">
                                                    <span>Regular Ads</span>
                                                    <span>48952413</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Area Unit</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="tg-select">
                                            <select>
                                                <option value="Select Area unit">Select Area unit</option>
                                                <option value="Select Area unit">Select Area unit</option>
                                                <option value="Select Area unit">Select Area unit</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Area</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="form-group">
                                            <input type="text" name="minarea" class="form-control" placeholder="Minimum Area">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="maxarea" class="form-control" placeholder="Maximum Area">
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Rooms</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="tg-select">
                                            <select>
                                                <option value="Select No. of Rooms">Select No. of Rooms</option>
                                                <option value="Select No. of Rooms">Select No. of Rooms</option>
                                                <option value="Select No. of Rooms">Select No. of Rooms</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Year</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="form-group tg-inputwithicon">
                                            <i class="icon-calendar-full"></i>
                                            <input type="text" name="startingyear" class="form-control" placeholder="Starting Year">
                                        </div>
                                        <div class="form-group tg-inputwithicon">
                                            <i class="icon-calendar-full"></i>
                                            <input type="text" name="endingyear" class="form-control" placeholder="Ending Year">
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Mileage</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div id="tg-productrangeslider" class="tg-productrangeslider tg-themerangeslider"></div>
                                        <div class="tg-amountbox">
                                            <input type="text" id="tg-productrangeamount" readonly>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Registraterd Location</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="tg-select">
                                            <select>
                                                <option value="Select No. of Rooms">Select No. of Rooms</option>
                                                <option value="Select No. of Rooms">Select No. of Rooms</option>
                                                <option value="Select No. of Rooms">Select No. of Rooms</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Fuel Type</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="tg-select">
                                            <select>
                                                <option value="Select Fuel Type">Select Fuel Type</option>
                                                <option value="Select Fuel Type">Select Fuel Type</option>
                                                <option value="Select Fuel Type">Select Fuel Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="tg-collapsetitle">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Ads Type</span>
                                    </div>
                                    <div class="tg-themecollapsecontent">
                                        <div class="tg-checkboxgroup">
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-allads" name="byadstype" value="All Ads" checked="">
                                                <label for="tg-allads">
                                                    <span>All Ads</span>
                                                    <span>48952413</span>
                                                </label>
                                            </span>
                                            <span class="tg-checkbox">
                                                <input type="checkbox" id="tg-adswithphotos" name="byadstype" value="Ads With Photos">
                                                <label for="tg-adswithphotos">
                                                    <span>Ads With Photos</span>
                                                    <span>987327</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="tg-btn">apply filter</button>
                            </fieldset>
                        </form>
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-contenthead">
                            <div class="tg-sortandview">
                                <div class="tg-sortby">
                                    <strong>Sort by:</strong>
                                    <div class="tg-select">
                                        <select>
                                            <option value="Most Recent">Most Recent</option>
                                            <option value="Most Recent">Most Recent</option>
                                            <option value="Most Recent">Most Recent</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="tg-views">
                                    <strong>View As Grid</strong>
                                    <ul>
                                        <li class="tg-active"><a href="javascript:void(0);"><i class="fa fa-th-large"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-reorder"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tg-applyedfilters">
                                <ul>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>Manchester</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>$200 - $500</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>Brand New</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>Featured Ads</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>Area Unit: Sq. ft.</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>Sq. ft. 2500 - Sq. ft.5000</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>Rooms: 04</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>2014 - 2016</span>
                                    </li>
                                    <li class="alert alert-dismissable fade in">
                                        <a href="javascript:void" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <span>1500 - 3000</span>
                                    </li>
                                    <li><a class="tg-btncleall" href="javascript:void">Clear All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-ads tg-adsvtwo tg-adslist">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-19.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Mobiles</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Ei pad pro for sale</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>$200</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like tg-liked"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-20.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Vehicles</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Classic car in low price</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>on call</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-21.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Mobiles</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Set of 03 chairs</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>$125</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like tg-liked"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-22.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Furniture</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Smartphone for sale</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>$160</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-23.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Furniture</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Set of chair for sale</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>on call</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-24.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Animals</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Eye catching blue parrot for sale</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>on call</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-25.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Toys</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Teddy for sale</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>$30</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-26.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Electronics</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Hp dual core 2gb ram-slim laptop</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>$260</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-27.jpg" alt="image description"></a>
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        </figure>
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Furniture</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Set of chair for sale</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>on call</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="tg-pagination">
                            <ul>
                                <li class="tg-prevpage"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li class="tg-active"><a href="#">5</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li class="tg-nextpage"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            About Us End
    *************************************-->
</main>
