
@{
    ViewBag.Title = "PostMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Section Start
    *************************************-->
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">
            <form class="tg-formtheme tg-formdashboard">
                <fieldset>
                    <div class="tg-postanad">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="tg-dashboardbox">
                                <div class="tg-dashboardboxtitle">
                                    <h2>Ad Detail</h2>
                                </div>
                                <div class="tg-dashboardholder">
                                    <div class="form-group text-center">
                                        <a href="#" class="tg-btn" data-toggle="modal" data-target=".tg-categorymodal">Select Category Here</a>
                                    </div>
                                    <div class="form-group">
                                        <ol class="tg-categorysequence">
                                            <li>Electronics</li>
                                            <li>Air Conditioners</li>
                                            <li>Daikin <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categorymodal">(Change)</a></li>
                                        </ol>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="adtitle" class="form-control" placeholder="Enter Ad Title*">
                                    </div>
                                    <div class="form-group tg-priceformgroup">
                                        <div class="tg-checkbox">
                                            <input id="tg-priceoncall" type="checkbox" name="priceoncall" value="on">
                                            <label for="tg-priceoncall">Price On Call</label>
                                        </div>
                                        <input type="text" name="price" class="form-control" placeholder="Price*">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="tg-tinymceeditor" class="tg-tinymceeditor"></textarea>
                                    </div>
                                    <label class="tg-fileuploadlabel" for="tg-photogallery">
                                        <span>Drop files anywhere to upload</span>
                                        <span>Or</span>
                                        <span class="tg-btn">Select Files</span>
                                        <span>Maximum upload file size: 500 KB</span>
                                        <input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
                                    </label>
                                    <div class="tg-horizontalthemescrollbar tg-profilephotogallery">
                                        <ul>
                                            <li>
                                                <figure>
                                                    <img src="images/thumbnail/img-01.jpg" alt="image description">
                                                    <i class="icon-trash"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="tg-activephoto">
                                                    <img src="images/thumbnail/img-02.jpg" alt="image description">
                                                    <i class="fa fa-check-square-o"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="images/thumbnail/img-02.jpg" alt="image description">
                                                    <i class="icon-trash"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="tg-activephoto">
                                                    <img src="images/thumbnail/img-04.jpg" alt="image description">
                                                    <i class="fa fa-check-square-o"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="tg-activephoto">
                                                    <img src="images/thumbnail/img-05.jpg" alt="image description">
                                                    <i class="fa fa-check-square-o"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="images/thumbnail/img-01.jpg" alt="image description">
                                                    <i class="icon-trash"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="tg-activephoto">
                                                    <img src="images/thumbnail/img-02.jpg" alt="image description">
                                                    <i class="fa fa-check-square-o"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="images/thumbnail/img-02.jpg" alt="image description">
                                                    <i class="icon-trash"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="images/thumbnail/img-04.jpg" alt="image description">
                                                    <i class="icon-trash"></i>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="tg-activephoto">
                                                    <img src="images/thumbnail/img-05.jpg" alt="image description">
                                                    <i class="fa fa-check-square-o"></i>
                                                </figure>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            <div class="tg-dashboardbox">
                                <div class="tg-dashboardboxtitle">
                                    <h2>Enable Offers/Messages</h2>
                                </div>
                                <div class="tg-dashboardholder">
                                    <div class="tg-checkbox">
                                        <input id="tg-enablemessages" type="checkbox" name="enablemessages" value="on">
                                        <label for="tg-enablemessages">Enable offers/messages option in this Post</label>
                                    </div>
                                </div>
                            </div>
                            <div class="tg-dashboardbox tg-contactdetail">
                                <div class="tg-dashboardboxtitle">
                                    <h2>Contact Detail</h2>
                                </div>
                                <div class="tg-dashboardholder">
                                    <div class="form-group">
                                        <strong>I’m a:</strong>
                                        <div class="tg-selectgroup">
                                            <span class="tg-radio">
                                                <input id="tg-sameuser" type="radio" name="usertype" value="same user" checked>
                                                <label for="tg-sameuser">Same User</label>
                                            </span>
                                            <span class="tg-radio">
                                                <input id="tg-someoneelse" type="radio" name="usertype" value="someone else">
                                                <label for="tg-someoneelse">Someone Else</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="firstname" class="form-control" placeholder="First Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="lastname" class="form-control" placeholder="Last Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control" placeholder="Phone*">
                                    </div>
                                    <div class="form-group">
                                        <div class="tg-select">
                                            <select>
                                                <option>Select Country</option>
                                                <option>Select Country</option>
                                                <option>Select Country</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="tg-select">
                                            <select>
                                                <option>Select State</option>
                                                <option>Select State</option>
                                                <option>Select State</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="tg-select">
                                            <select>
                                                <option>Select City</option>
                                                <option>Select City</option>
                                                <option>Select City</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group tg-inputwithicon">
                                        <i class="fa fa-crosshairs"></i>
                                        <input type="text" name="enteraddress" class="form-control" placeholder="Enter Address">
                                    </div>
                                    <div class="tg-checkbox">
                                        <input id="tg-agreetermsandrules" type="checkbox" name="agreetermsandrules" value="on">
                                        <label for="tg-agreetermsandrules">I agree to all <a href="javascript:void(0);">Terms of Use &amp; Posting Rules</a></label>
                                    </div>
                                    <button class="tg-btn" type="button">Post Ad</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <!--************************************
            Section End
    *************************************-->
</main>

