
@{
    ViewBag.Title = "Interaction";
    Layout = "~/Views/Shared/_Layout_AfterLogin.cshtml";
}

@*<div class="tg-dashboardbanner">
    <h1>Offers/Messages</h1>
    <ol class="tg-breadcrumb">
        <li><a href="javascript:void(0);">Home</a></li>
        <li><a href="javascript:void(0);">Dashboard</a></li>
        <li class="tg-active">Offers/Messages</li>
    </ol>
</div>*@
<!--************************************
        Dashboard Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Section Start
    *************************************-->
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">
            <form class="tg-formtheme tg-formdashboard">
                <fieldset>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-dashboardbox">
                            <div class="tg-dashboardboxtitle">
                                <h3>Interactions</h3>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <div class="tg-chatarea">
                                            <div class="tg-messages tg-verticalscrollbar tg-dashboardscrollbar">
                                                <div class="tg-offerermessage">
                                                    <figure><img src="images/author/img-16.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <p>Consectetur adipisicing elit sei do eiusmod tempor incididunt labore et dolore.</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">January 12th, 2011</time>
                                                    </div>
                                                </div>
                                                <div class="tg-memessage tg-readmessage">
                                                    <figure><img src="images/author/img-17.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <p>Eiusmod tempor incididunt labore et dolore magna aliqiu enim ad minim veniam qiuisru exercitation ullamco laborisen nisi ut aliquip exea.</p>
                                                        <div class="clearfix"></div>
                                                        <p><a href="https://themeforest.net" target="_blank">https://themeforest.net</a></p>
                                                        <div class="clearfix"></div>
                                                        <p>It that ok?</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">Jun 28, 2017 09:30</time>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="tg-offerermessage">
                                                    <figure><img src="images/author/img-16.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <div class="clearfix"></div>
                                                        <p>Consectetur adipisicing elit sei do eiusmod tempor incididunt labore et dolore.</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">January 12th, 2011</time>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="tg-memessage tg-readmessage">
                                                    <figure><img src="images/author/img-17.jpg" alt="image description"></figure>
                                                    <div class="tg-description">
                                                        <div class="clearfix"></div>
                                                        <p>Eiusmod tempor incididunt labore et dolore magna aliqiu enim ad minim veniam qiuisru exercitation ullamco laborisen nisi ut aliquip exea.</p>
                                                        <div class="clearfix"></div>
                                                        <p><a href="https://themeforest.net" target="_blank">https://themeforest.net</a></p>
                                                        <div class="clearfix"></div>
                                                        <p>It that ok?</p>
                                                        <div class="clearfix"></div>
                                                        <time datetime="2017-08-08">Jun 28, 2017 09:30</time>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tg-replaybox">
                                            <textarea class="form-control" name="reply" placeholder="Type Here &amp; Press Enter"></textarea><br />
                                            <button class="tg-btn" type="submit">Send</button>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            @*<div style="height:10%;background:#e4e1e1">&nbsp;</div>*@
                      
                           
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <!--************************************
            Section End
    *************************************-->
</main>
