
@{
    ViewBag.Title = "PostMessage";
    Layout = "~/Views/Shared/_Layout_AfterLogin.cshtml";
}

<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Section Start
    *************************************-->

    @using (Html.BeginForm("ProcessLogin", "Account"))
    {
        <section class="tg-dbsectionspace tg-haslayout">
            <div class="row">
                <form class="tg-formtheme tg-formdashboard">
                    <fieldset>
                        <div class="tg-postanad">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                <div class="tg-dashboardbox">
                                    <div class="tg-dashboardboxtitle">
                                        <h2>Post Detail</h2>
                                    </div>
                                    <div class="tg-dashboardholder">
                                        @*<div class="form-group text-center">
                                                <a href="#" class="tg-btn" data-toggle="modal" data-target=".tg-categorymodal">Select Category Here</a>
                                            </div>
                                            <div class="form-group">
                                                <ol class="tg-categorysequence">
                                                    <li>Electronics</li>
                                                    <li>Air Conditioners</li>
                                                    <li>Daikin <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categorymodal">(Change)</a></li>
                                                </ol>
                                            </div>*@
                                                                        <div class="form-group">
                                                                            <input type="text" name="adtitle" class="form-control" placeholder="Enter Title*">

                                                                        </div>
                                                                        <!--<div class="form-group tg-priceformgroup">-->
                                                                        @*<div class="tg-checkbox">
                                                <input id="tg-priceoncall" type="checkbox" name="priceoncall" value="on">
                                                <label for="tg-priceoncall">Price On Call</label>
                                            </div>*@
                                                                        @*<input type="text" name="price" class="form-control" placeholder="Price*">*@
                                                                        <!--</div>-->
                                                                        <div class="form-group  tg-select">
                                                                            <select>
                                                                                <option value="Select Category">Select Sports</option>
                                                                                <option value="Select Category">Select Sports</option>
                                                                                <option value="Select Category">Select Sports</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <textarea id="tg-tinymceeditor" class="tg-tinymceeditor"></textarea>
                                                                        </div>
                                                                        @*<label class="tg-fileuploadlabel" for="tg-photogallery">
                                                <span>Drop files anywhere to upload</span>
                                                <span>Or</span>
                                                <span class="tg-btn">Select Files</span>
                                                <span>Maximum upload file size: 500 KB</span>
                                                <input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
                                            </label>*@
                                    </div>
                                    <button class="tg-btn" type="submit">Post</button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
        <!--************************************
                Section End
        *************************************-->
    }
    </main>

