@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="tg-main" class="tg-main tg-haslayout">


    <section class="tg-sectionspace tg-bglight tg-haslayout" style="background-color: #faf9f9;">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-contenthead">
                            <div class="tg-sortandview">
                                <div class="tg-sortby">
                                    <strong>Sort by:</strong>
                                    <div class="tg-select">
                                        <select>
                                            <option value="Most Recent">Most Recent</option>
                                            <option value="Most Recent">Most Recent</option>
                                            <option value="Most Recent">Most Recent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tg-ads tg-adsvtwo tg-adslist">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <!--<figure>
                                    <span class="tg-themetag tg-featuretag">featured</span>
                                    <a href="javascript:void(0);"><img src="images/ads/img-19.jpg" alt="image description"></a>-->
                                        <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        <!--</figure>-->
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Mobiles</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Ei pad pro for sale</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>$200</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like tg-liked"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-ad tg-verifiedad">
                                        <!--<figure>
                                            <span class="tg-themetag tg-featuretag">featured</span>
                                            <a href="javascript:void(0);"><img src="images/ads/img-20.jpg" alt="image description"></a>-->
                                            <!--<span class="tg-photocount">See 18 Photos</span>-->
                                        <!--</figure>-->
                                        <div class="tg-adcontent">
                                            <ul class="tg-productcagegories">
                                                <li><a href="javascript:void(0);">Vehicles</a></li>
                                            </ul>
                                            <div class="tg-adtitle">
                                                <h3><a href="javascript:void(0);">Classic car in low price</a></h3>
                                            </div>
                                            <time datetime="2017-06-06">Last Updated: 4 hours ago</time>
                                            <div class="tg-adprice"><h4>on call</h4></div>
                                            <address>44-46 abc Road, Manchester</address>
                                            <div class="tg-phonelike">
                                                <a class="tg-btnphone" href="javascript:void(0);">
                                                    <i class="icon-phone-handset"></i>
                                                    <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6"><em>Show Phone No.</em></span>
                                                </a>
                                                <span class="tg-like"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="tg-pagination">
                            <ul>
                                <li class="tg-prevpage"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li class="tg-active"><a href="#">5</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li class="tg-nextpage"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>      

    </section>
    
</main>

