
@{
    ViewBag.Title = "Choice";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}

<section class="pt150">
    <div class="container ">
        <h2 class="text-center text-yelow mb15">Get Started</h2>
        <div class="row section_padding_40">
            <div class="col-12 col-md-6 col-lg-6 border-right padding-right-20">
                <div class="text-center">
                    <h3>Web User</h3>
                    <p>I want to save my bookmarks online</p>
                </div>
                <div class="text-center">
                    <a href="/Account/WebUserReg"><img src="~/images/getstartedweb.png" style="width:50%;height:50%" alt="Web User"></a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 padding-left-30">
                <div class="text-center">
                    <h3>Web Publisher</h3>
                    <p>I want to add MeetPlayPal to my website</p>
                </div>

                <div class="text-center">
                    <a href="/Account/SiteOwnerReg">  <img src="~/images/getstartedSiteOwner.png" style="width:50%;height:50%" alt="Site Owner"></a>
                </div>
            </div>

        </div>
    </div>
</section>