@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@


<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            About Us Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-aboutus">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
                        <div class="tg-textshortcode">
                            <div class="tg-titleshortcode">
                                <h2><span>Welcome!</span>Know more about us</h2>
                            </div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tg-btnbox">
                                <a class="tg-btn" href="javascript:void(0);">Meet The Team</a>
                                <a class="tg-btn" href="javascript:void(0);">Sponsors</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                        <div class="tg-imgshortcode tg-multiimg">
                            <figure><div class="tg-imgholder"><img src="~/Content/images/img-02.jpg" alt="image description"></div></figure>
                            <figure><div class="tg-imgholder"><img src="~/Content/images/img-03.jpg" alt="image description"></div></figure>
                            <figure><div class="tg-imgholder"><img src="~/Content/images/img-04.jpg" alt="image description"></div></figure>
                            <figure><div class="tg-imgholder"><img src="~/Content/images/img-05.jpg" alt="image description"></div></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            About Us End
    *************************************-->
    <!--************************************
            Latest Posted Ads Start
    *************************************-->
    <section class="tg-sectionspace tg-bglight tg-haslayout">
        <div class="container">
            <div class="row">
                <ul class="tg-statistics">
                    <li>
                        <div class="tg-statisticicon"><i class="icon-smile"></i></div>
                        <h3 data-from="0" data-to="246321" data-speed="8000" data-refresh-interval="50">246321</h3>
                        <h4>Happy Customers</h4>
                    </li>
                    <li>
                        <div class="tg-statisticicon"><i class="icon-user"></i></div>
                        <h3 data-from="0" data-to="423156" data-speed="8000" data-refresh-interval="50">423156</h3>
                        <h4>Active Members</h4>
                    </li>
                    <li>
                        <div class="tg-statisticicon"><i class="icon-bookmark"></i></div>
                        <h3 data-from="0" data-to="246321" data-speed="8000" data-refresh-interval="50">246321</h3>
                        <h4>Verified Ads</h4>
                    </li>
                    <li>
                        <div class="tg-statisticicon"><i class="icon-coffee-cup"></i></div>
                        <h3 data-from="0" data-to="74231" data-speed="8000" data-refresh-interval="50">74231</h3>
                        <h4>Cup of Coffee</h4>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--************************************
            Latest Posted Ads End
    *************************************-->
    <!--************************************
            News Article Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-title">
                            <h2>Why We Are Best</h2>
                        </div>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="tg-features">
                    <li>
                        <div class="tg-feature">
                            <div class="tg-featureicon"><i class="icon-eye"></i></div>
                            <div class="tg-title"><h3><a href="javascript:void(0);">Eye on Quality</a></h3></div>
                            <div class="tg-description">
                                <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tg-feature">
                            <div class="tg-featureicon"><i class="icon-lock"></i></div>
                            <div class="tg-title"><h3><a href="javascript:void(0);">Protection Guaranteed</a></h3></div>
                            <div class="tg-description">
                                <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tg-feature">
                            <div class="tg-featureicon"><i class="icon-bubble"></i></div>
                            <div class="tg-title"><h3><a href="javascript:void(0);">Active Support</a></h3></div>
                            <div class="tg-description">
                                <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tg-feature">
                            <div class="tg-featureicon"><i class="icon-laptop"></i></div>
                            <div class="tg-title"><h3><a href="javascript:void(0);">Prompt Complaint Response</a></h3></div>
                            <div class="tg-description">
                                <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tg-feature">
                            <div class="tg-featureicon"><i class="icon-spell-check"></i></div>
                            <div class="tg-title"><h3><a href="javascript:void(0);">Verified Ads</a></h3></div>
                            <div class="tg-description">
                                <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tg-feature">
                            <div class="tg-featureicon"><i class="icon-leaf"></i></div>
                            <div class="tg-title"><h3><a href="javascript:void(0);">Secure Payment Gateway</a></h3></div>
                            <div class="tg-description">
                                <p>Consectetur adipicing elit sed dotam eiusmod tempor incididunt labe etae magna aliqua.</p>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            News Article End
    *************************************-->
    <!--************************************
            Quality Services Start
    *************************************-->
    <section class="tg-bglight tg-haslayout">
        <div class="container-fluid">
            <div class="row">
                <div class="tg-qualityservices">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="tg-imgshortcode">
                                <figure>
                                    <img src="~/Content/images/img-01.jpg" alt="image description">
                                    <figcaption><a class="tg-btnplayvideo" href="javascript:void"><i class="icon-play3"></i></a></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="tg-textshortcode">
                                <div class="tg-titleshortcode">
                                    <h2>Serving Quality Services</h2>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillumolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non prident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Quality Services End
    *************************************-->
    <!--************************************
            Partners Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-title">
                            <h2>Team Behind Classified Pro</h2>
                        </div>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="tg-teamclassified">
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-01.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Esteban Defelice</a></h3>
                                <h4>Founder &amp; C.E.O</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-02.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Colin Renshaw</a></h3>
                                <h4>Chief Product Officer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-03.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Cornell Cullens</a></h3>
                                <h4>Chief Technology Officer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-04.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Cheryle Epperly</a></h3>
                                <h4>Investment Officer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-05.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Arnoldo Charpentier</a></h3>
                                <h4>Sr. Creative Designer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-06.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Johnie Ralphs</a></h3>
                                <h4>Sr. Web Developer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-07.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Chanelle Sudderth</a></h3>
                                <h4>Content Writer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-08.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Federico Danko</a></h3>
                                <h4>Sr. Regional Manager</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-09.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Macie Guntrum</a></h3>
                                <h4>Regional Manager</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tg-team">
                        <div class="tg-teamholder">
                            <figure>
                                <a href="javascript:void(0);"><img src="~/Content/images/team/img-10.jpg" alt="image description"></a>
                                <figcaption>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <div class="tg-teamcontent">
                                <h3><a href="javascript:void(0);">Lurlene Cashman</a></h3>
                                <h4>Receptionist</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Partners End
    *************************************-->
</main>
