@{
    ViewBag.Title = "Bookmark - ";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}




<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script type="text/javascript" src="~/js/JavaScript1.js"></script>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

<script src='https://www.google.com/recaptcha/api.js'></script>

<script>
    function IsRecapchaValid() {
        var response = grecaptcha.getResponse();
        if (response.length == 0) {
            //reCaptcha not verified
            alert("Please validate the recaptcha");
            return false;
        }
        else {
            return true;
        }
    }
</script>



<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Contact Us Start
    *************************************-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-content" class="tg-content">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-title">
                            <h2>Common Useful F.A.Q</h2>
                        </div>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etae magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <form class="tg-formtheme tg-formsearch">
                        <fieldset>
                            <input type="text" class="form-control" name="search" placeholder="Search Here">
                            <button type="button"><i class="icon-magnifier"></i></button>
                        </fieldset>
                    </form>
                    <div class="tg-faqarea">
                        <div class="tg-verticalscrollbar tg-dashboardscrollbar">
                            <div id="tg-themecollapse" class="tg-themecollapse tg-themecollapsefaq">
                                <div class="tg-collaptabpane">
                                    <h3 class="open">How Can I Register Online Or On Call?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>How Long It Take To Register?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>How Can I Download Full Event Schedule?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>How Can I Get Event Reminders?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Adipisicing elit, sed do eiusmod tempor incididunt?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Labore et dolore magna aliqua?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Ut enim ad minim veniam, quis nostrud exercitation?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Ullamco laboris nisi ut aliquip ex ea commodo?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Excepteur sint occaecat cupidatat non proident?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>How Can I Register Online Or On Call?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>How Long It Take To Register?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>How Can I Download Full Event Schedule?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>How Can I Get Event Reminders?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Adipisicing elit, sed do eiusmod tempor incididunt?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Labore et dolore magna aliqua?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Ut enim ad minim veniam, quis nostrud exercitation?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Ullamco laboris nisi ut aliquip ex ea commodo?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                                <div class="tg-collaptabpane">
                                    <h3>Excepteur sint occaecat cupidatat non proident?</h3>
                                    <div class="tg-collapsecontent">
                                        <div class="tg-description"><p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ant ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tg-contactarea">
                        <div class="tg-sectionhead">
                            <div class="tg-title">
                                <h2>Get In Touch With Us</h2>
                            </div>
                            <div class="tg-description">
                                <p>Feel Free To Say Hello</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div id="tg-locationmap" class="tg-locationmap"></div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="firstname" class="form-control" placeholder="First Name*">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="lastname" class="form-control" placeholder="Last Name*">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="Email*">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="subject" class="form-control" placeholder="Subject (optional)">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button class="tg-btn" type="button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Contact Us End
    *************************************-->
</main>









@*<div style="height:100px"></div>
<h2>Contact Us</h2><br />
<div id="Content">


@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new {onsubmit="return IsRecapchaValid();" }))
{
   
                <table style="width:100%;font-size:16px">

                    <tr>
                        <td align="center">
                            <span style="font-weight:bold;color:green;font-size:14px">@Html.Raw(ViewBag.Ack)</span>                         
                        </td>
                    </tr>

                    
                     <tr>
                        <td align="center">
                            <span style="font-weight:bold;color:darkgreen;font-size:16px">You can also email us directly at contactus@MeetPlayPal.com</span>
                        </td>
                    </tr>
                   
                    @if(string.IsNullOrEmpty(ViewBag.UserEMail))
                    {
                        <tr>
                            <td align="left" style="width:200px">
                                @Html.TextBox("txtEMail", "", new { style = "width:40%;height:30px;", placeholder = "EMail Id", @class = "myText" })
                                <br/>
                            </td>
                        </tr>
                    }
                   
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td style="">
                            @Html.TextArea("txtSuggestion", "", new { style = "width:90%;height:200px;", placeholder = "Message", @class = "myText" })
                        </td>
                    </tr>
                     <tr>
                                    <td align="center">
                                             <div class="g-recaptcha" data-sitekey="6LfVsxATAAAAADNxqs-kXsBp1GHJMGGiENNpgpLF"></div>
                                    </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding-left: 40%">
                            &nbsp;<br />
                            <input type="submit" value="Submit" id="btnSubmit" onclick="return ValidateSuggestion()" class="mysubmit" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style=" font-size: medium">
                            <table style="width:100%;">
                                <tr>
                                    <td align="left">
                                        MeetPlayPal
                                        <br />
                                        New Jersey,
                                        <br />
                                        USA
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td align="left" width="150px">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
     @Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
}

</div>*@



