@{
    ViewBag.Title = "Bookmark";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}


<section class="pt150 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <div class="page_title_area">
                    <div class="section_heading">
                        <h3><span>Terms & Conditions</span> </h3>
                    </div>
                </div>
                <div>
                    <p>
                        By registering or signing in or using this website you will be directly bound to
                        our terms and conditions. Our policies are subjected to change any time without any notification to the users.
                        We may update or delete any content posted here by the users if we find it to violate our terms and conditions. We may also delete any user account anytime if
                        we find it to be inappropriate or not within our protocols.

                    </p>
                    <p>
                        <b>Content</b>

                        The solutions, answers, articles posted on this website do not assure anything of the fix, using them in your
                        application solely depends on you. We are not responsible for any kind of issues occurred like data leak or application crash or virus or anything. This is
                        because information posted here are from the various users who share their experience.

                    </p>
                    <p>
                        This is free, open blogging kind of question and answer site. Users are free to
                        use this information in any way they intend to, as all these are general coding
                        solutions which are defined with a global standard. User posting the article and solutions reserve's the right to
                        distribute, publish or share the the content.

                    </p>
                    <p>
                        We do not take the responsibility or we are not liable of the content posted here by the users if it has a specific copyright. In any such case, please report it to us from “
                        <a href="/Home/Contact" style="font-weight:bold">Contact Us</a>”, we will process it immediately.

                    </p>
                    <p>
                        <b>Social Sites Login </b>
                        We only gather your email id, first name and last name when you sign in from Facebook, Google Or LinkedIn. We do not gather any other information and we do
                        not distribute your details to any other organization or company or use it for marketing. Your details are completely secure and private with us.
                    </p>
                    <p>
                        <b>
                            Rewards
                        </b>
                        We have started with initial 5 levels of reward system and we hope to make it successful, we will be validating your posting before giving away the reward. User can
                        reach us if they feel they deserve a reward but haven’t been considered yet. We may or we may not give an explanation on our analysis of your answers and
                        articles.

                    </p>
                    <p>
                        <b>
                            Disclaimer

                        </b>
                        In any situation we are not responsible for any kind of loss or damage caused to you and you believe it to be from this
                        website, as this is an open platform user code issue discussion site used by users to solve their coding issues.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>