@{
    ViewBag.Title = "Bookmark - ";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}

<section class="pt150 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <div class="page_title_area">
                    <div class="section_heading">
                        <h3><span>404 Page Not Found!!</span> </h3>
                    </div>
                </div>
                <div style="color:red;font-weight:400;font-size:18px;text-align:center">
                    Ooops!! 404 Page not found.
                </div>
            </div>
        </div>
    </div>
</section>
