@{
    ViewBag.Title = "Bookmark - ";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-content" class="tg-content">
                    <div class="tg-404content">
                        <div class="tg-404message">
                            <h2>404</h2>
                            <h3><span>Ooooops!</span> Something Went Wrong...</h3>
                        </div>
                        <form class="tg-formtheme tg-form404search">
                            <fieldset>
                                <input type="search" name="search" class="form-control" placeholder="Search Here">
                                <button class="tg-btn" type="button">Search Now</button>
                            </fieldset>
                        </form>
                        <div class="tg-description">
                            <span>Or Goto <a href="javascript:void(0);">Homepage</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
