@{
    ViewBag.Title = "Bookmark - ";
    Layout = "~/Views/Shared/Manage_MeetPlayPal.cshtml";
}
<section class="pt150 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <div class="page_title_area">
                    <div class="section_heading">
                        <h3><span>Policy</span> </h3>
                    </div>
                </div>
                <div>
                    <p>
                        MeetPlayPal provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use, disclosure and protection of information that apply to our Service, 
                        as well as your choices regarding the collection and use of information.
                        By registering or signing in or using this website you will be directly bound to
                        our terms and conditions. Our policies are subjected to change any time without any prior notification to the users.
                    </p>
                    <p>
                        <span style="font-size:20px;color:#121212">Overview</span><br />

                        MeetPlayPal is a simple application to save all user bookmarks online so that user can access them on any browser
                         and machine, also with the all browser extensions this tool had made more user friendly. For website owners it’s one of 
                        the way to increase some web traffic and build a strong user base over the period of time which will increase the user site value gradually.

                    </p>
                    
                    <p>
                        <span style="font-size:20px;color:#121212">Advertise</span><br />

                        As you can understand, “MeetPlayPal” is a simple online application which just displays a small “MeetPlayPal” 
                        icon on user websites or third party websites, so we DO NOT display any ad’s on third party sites. 
                        But we may display advertise on our website i.e. MeetPlayPal.com depending on the scenario

                    </p>
                    <p>
                        <span style="font-size:20px;color:#121212">Data Sharing</span><br />
                        We may collect information which may identify you individually as email address, first and last name. We may also collect information which may not be used to identify you as an 
                        individual like your URL, browser, IP address, and ads if you clicked on any.
                        We do not share your personally identifiable information to any other parties or services. Your information is totally secured and kept private.
                        The information which we may share to third parties or other users are non-identifiable information like URL, Page name, IP address, location, browser, time you spent on the 
                        third party web page and so on.
                        We give out this information in the form of reports to the web publishers registered with us to analyze this data to improve their website performance.
                    </p>
                    <p>
                        <span style="font-size:16px;color:#121212">Data Collected on Third Party Sites</span><br />
                        When you create your account or login using third party popular social login plugins like Facebook, Google or Twitter we may collect information like your first name, 
                        last name and email id but as mentioned clearly above we do not share any of these details with any other service or third parties.
                    </p>
                    <p>
                        <span style="font-size:16px;color:#121212">Data collection sources and methods</span><br />
                        We may collect information from various methods like cookies, http request analysis, and logging, third party sources like Facebook, Google and Twitter. By registering and signing into MeetPlayPal you approve us to collect the information mentioned above. User may opt out by disabling cookies or any other methods but with this some of the features of the website may not work properly.
                        We do not send any promotional emails and also our site does not respond to "do not track" or similar signals. We try our best to keep the data totally secure and from user perspective have their username and password to keep their account secure.

                    </p>
                    <p>
                        <span style="font-size:20px;color:#121212">Dispute Resolution</span><br />
                        If you have any concerns or questions or disputes please contact us from <a href="/Home/Contact">Contact Us</a> section and we will get back to you immediately and resolve the issue
                    </p>
                    <p>
                        <span style="font-size:20px;color:#121212">Contact</span><br />
                        If you have any questions about this Privacy Policy, please email us at admin@MeetPlayPal.com. Our addresses are<br />
                        Sunset Blvd, San Francisco, CA 94116<br />
                        Union Square, 14th St, New York City, NY 10003<br />                     
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
